.c-startscherm{
    margin-left: 3rem;
    margin-bottom: 3rem;
    color: $color-white;
    @include media-breakpoint-down(md) {
        text-align: center;
        margin-left: 0rem;
      }
    &--title{
        color: $color-white;
        font-size: 3rem;
        font-weight: bold;
        padding:3rem 0px;
        padding-top: 1rem;
    }
    &--featured{
        padding-bottom: 1rem;
    }
    &--film{
        @include media-breakpoint-down(md) {
            padding-bottom: 1rem;
            padding-top: 1.5rem;
          }
      
    }

    &__box{
        background: linear-gradient(#203174, #5E7BE4);
        padding: 2rem 2rem;
        border-radius: 20px;
        color: $color-white;
        
        h1{
            font-size: 2rem;
            margin-bottom: 2rem;
        }
    }

    &__label{
        display: block;
    }

    &__select{
        appearance: none;
        display: block;
        border-radius: 10px;
        padding-left: 10px;
        width: 100%;
        margin-bottom: 2rem;
        
        &--container{
            position: relative;
        }

        &--icon {
            position: absolute;
            top: 2px;
            right: 10px;
            width: 20px;
            height: 20px;
            color: black;
            pointer-events: none;
        }
    }

    &__button{
        font-weight: 700;
        color: $color-white;
        background-color:#0090FF;
        border: none;
        padding: 1rem 5rem;
        border-radius: 10px;
        float: right;
        margin-bottom: 2rem;
        margin-top: 2rem;
        
        &:hover{
            background-color: #2642B1;
        }
    }
}