.c-right{
    color: $color-white;
    font-weight: bold;
    &__label{
        padding-bottom: 3.6rem;
        &__title{
            padding-top:10rem;
        }
    }
    &__input{
        border-radius: .8rem;
    }
    &__description{
        height: 15rem;
    }
    &__btn{
        background-color: $color-lightblue ;
        color: $color-white;
        font-weight: bold;
        &:hover{
            color: $color-darkblue ;
        }
    }
    &__btnalign{
        display: flex;
        justify-content: flex-end;
    }
}

.form-label{
    font-size: 2rem;
}

.col-transparent{
    opacity: 0;
}