.table {
  width: 90%;
  margin-left: 54px;
  margin-top: 100px;
  border: none;
  font-size: 18px;
  color: $color-white;

 

  &__title {
    border: none;
    border-bottom: 2px solid $color-white;
    margin-bottom: 5rem;
  }

  &__row {


    &--number {
      width: 150px;
      margin-right: 0rem;

      @include media-breakpoint-down(lg) {
        min-width: 123px;
      }
    }

    &--name {
      width: 270px;
      margin-right: 0rem;

      @include media-breakpoint-down(lg) {
        min-width: 207px;
      }

    }

    &--mail {
      width: 360px;
      margin-right: 0rem;

      @include media-breakpoint-down(lg) {
        min-width: 323px;
      }

    }

    &--user-since {
      width: 230px;
      margin-right: 0rem;

      @include media-breakpoint-down(lg) {
        min-width: 175px;
      }

    }

    &--subscription {
      width: 150px;
      margin-right: 0rem;

      @include media-breakpoint-down(lg) {
        min-width: 139px;
      }


      &--active {
        color: $color-green;
      }

      &--non-active {
        color: $color-red;
      }
    }

    &--edit {
      width: 50px;
      text-align: center;

      @include media-breakpoint-down(lg) {
        min-width: 49px;
      }


      &--icon {
        width: 2.5rem;

        &:hover path {
          fill: $color-green;
          //transform: scale(1.2);
        }
      }
    }

    &--delete {
      width: 50px;
      text-align: center;

      @include media-breakpoint-down(lg) {
        min-width: 49px;
      }


      &:hover path {
        fill: $color-red;
        //transform: scale(1.2);
      }

      &--icon {
        width: 2.5rem;
      }

    }
  }
}
