.c-back__icon {
  width: 3.5rem;
  margin-right: 2rem;
  padding-bottom: 0.5rem;
}

.c-user__form {
  margin-left: 59px;
  display: flex;
  flex-direction: row;
}


.c-user__info{

    margin-right: 10rem;

    &--image{
        border: 5px solid white;
        border-radius: 10px;
        width: 20rem;
        height: 25rem;
        margin-bottom: 3.2rem;
    }

    &--image-img{
        width: 15rem;
        margin-top: 3.7rem;
        margin-left: 2.2rem;

    }

    &--label{
        color: $color-white;
        font-weight: $font-weight-bold;
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }

    &--input{
        background-color: $color-white;
        width: 35rem;
        height: 3.56rem;
        margin-bottom: 3.2rem;
        border-radius: 10px;
        border: none;
        padding-left: 8px;
        box-shadow: none;

        &:focus{
            outline: none;
        }
    }
}

.c-user__data{
    font-family: $font-family;
    &--title{
        color: $color-white;
        font-size: 2.5rem;
        font-weight: $font-weight-bold;
        margin-bottom: 5rem;

        &--adres{
            color: $color-white;
            font-size: 2rem;
            font-weight: $font-weight-bold;
            margin-bottom: 2rem;
            margin-top: 1rem;
        }
    }

    &--label{
        color: $color-white;
        font-weight: $font-weight-bold;
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }

    &--input{
        background-color: $color-white;
        width: 35rem;
        height: 3.56rem;
        margin-bottom: 3.2rem;
        border-radius: 10px;
        border: none;
        padding-left: 8px;
        box-shadow: none;

        &:focus{
            outline: none;
        }
    }

    &--button{
        background-color: $color-lightblue ;
        color: $color-white;
        font-weight: bold;
        border-radius: 10px;
        border:none;
        width: 15rem;
        margin-bottom: 5rem;
        padding: 5px 0px;

        &:hover{
            color: $color-darkblue ;
        }

        &:focus{
            outline: none;
        }

        &:active{
            color: $color-black;
        }
    }
    
}
