.c-admin-bar {
  display: flex;
  background-color: #121751;
  width: 100%;
  padding: 2.5rem 3rem;
  flex-direction: row-reverse;

  &__admin {
    display: flex;
    align-self: center;
  }

  &__icon {
    width: 5.5rem;
    fill: $color-white;

    @include media-breakpoint-down(sm) {
      width: 3.5rem;
    }
  }

  &__tekst {
    font-size: 2rem;
    margin: 0;
    margin-left: 2rem;
    color: $color-white;
    font-weight: bold;
    align-self: center;

    @include media-breakpoint-down(sm) {
      font-size: 1.6rem;
    }
  }
}
