.dropbtn {
  background-color: $color-white;
  color: black;
  font-size: 16px;
  border: none;
  height: 40px;
  width: 237px;
  font-weight: $font-weight-bold;
  font-family: $font-family;
  padding: auto;
  padding-left: 15px;
  margin-right: 32px;
  text-align: left;
  border-radius: 10px;
  cursor: pointer;
}

/*---------------------------------------------filter buttons -----------------------------------*/
.c-filter {
  display: flex;
  flex-direction: row;
  margin-left: 54px;
  font-weight: $font-weight-bold;
  margin-bottom: 68px;
  height: 40px;

  @media only screen and (max-width: 1150px) {
    flex-direction: column;
    margin-bottom: 14vw;
  }

  @media only screen and (max-width: 800px) {
    margin-bottom: 22vw;
  }

  @media only screen and (max-width: 576px) {
    margin-bottom: 35vw;
  }

  @include media-breakpoint-down(sm) {
    margin-left: 25px;
  }

  &__title {
    color: $color-white;
    padding-top: 3px;
    font-family: $font-family;
    font-size: 20px;
    font-weight: $font-weight-bold;
    margin-right: 38px;
    letter-spacing: 1.3px;

    @media only screen and (max-width: 1150px) {
      flex-direction: column;
    }

    @media only screen and (max-width: 800px) {
      margin-bottom: 4vw;
    }

    @media only screen and (max-width: 576px) {
      margin-bottom: 8vw;
    }

    @include media-breakpoint-down(sm) {
      font-size: 16px;
    }
  }

  &__button--asc {
    background-color: $color-white;
    border: none;
    color: $black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 0;
    margin-right: -6px;
    border-radius: 10px 0px 0px 10px;
    font-weight: $font-weight-bold;
    width: 85px;
    height: 40px;
    cursor: pointer;
    text-transform: uppercase;
    border-right: 1px solid black;

    &:active,
    &:focus {
      background-color: #2642b1;
      color: $color-white;
      outline: none;
    }

    @include media-breakpoint-down(sm) {
      font-size: 14px;
      width: 60x;
      height: 35px;
    }
  }

  &__button--desc {
    background-color: $color-white;
    border: none;
    color: $color-black;
    padding: 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0px;
    border-radius: 0px 10px 10px 0px;
    font-weight: $font-weight-bold;
    width: 85px;
    height: 40px;
    cursor: pointer;
    text-transform: uppercase;

    &:active,
    &:focus {
      background-color: #2c9cff;
      color: $color-white;
      outline: none;
    }

    @include media-breakpoint-down(sm) {
      font-size: 14px;
      width: 60x;
      height: 35px;
    }
  }
}

.dropdown {
  position: relative;
  display: inline-block;
  height: 40px;

  @media only screen and (max-width: 1150px) {
    margin-bottom: 2vw;
  }

  @media only screen and (max-width: 800px) {
    margin-bottom: 4vw;
  }

  @media only screen and (max-width: 576px) {
    margin-bottom: 6vw;
  }

  @include media-breakpoint-down(sm) {
    font-size: 14px;
    width: 60x;
    height: 35px;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: $color-white;
  min-width: 160px;
  font-family: $font-family;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 237px;
}

.dropdown-content a {
  color: $color-black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #2c9cff;
  color: $color-white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: $color-white;
  background-color: #2c9cff;
  border-radius: 10px 10px 0px 0px;
}

/*------------------------------------------- table ----------------------------------------*/
.table {
  margin-left: 54px;
  border: none;
  font-size: 18px;
  color: $color-white;
  margin-top: 0px;
  margin-bottom: 34px;
  vertical-align: top;

  @media only screen and (max-width: 1725px),
    (min-device-width: 992px) and (max-device-width: 1024px) {
    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
      text-align: left;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
      margin-top: 5rem;
    }

    tr {
      margin: 0 0 5rem 0;
    }

    td {
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 40%;
      width: 45rem;

      @include media-breakpoint-down(md) {
        max-width: 30rem;
        padding-left: 40%;
      }
    }

    td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 8px;
      left: 6px;
      padding-right: 10px;
      white-space: nowrap;
    }

    .table__row--edit {
      &__row--edit--icon {
        width: 1rem;
        height: 1rem;

        &:hover path {
          fill: $color-green;
        }
      }
    }

    .table__row--delete {
      &__row--delete--icon {
        width: 1rem;
        height: 1rem;
      }
    }

    /*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, 
    this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
    td:nth-of-type(1):before {
      content: "UserID";
    }
    td:nth-of-type(2):before {
      content: "Name";
    }
    td:nth-of-type(3):before {
      content: "E-mail";
    }
    td:nth-of-type(4):before {
      content: "User since";
    }
    td:nth-of-type(5):before {
      content: "Subscription";
    }
  }

  @include media-breakpoint-down(md) {
    font-size: 12px;
  }

  @include media-breakpoint-down(sm) {
    margin-left: 25px;
  }

  &__title {
    border: none;
    border-bottom: 2px solid $color-white;
    padding-top: 0px !important;
    font-size: 20px;
  }

  &__row {
    &--number {
      width: 163px;
      margin-right: 0rem;
    }

    &--name {
      width: 267px;
      margin-right: 0rem;

      @media only screen and (max-width: 1750px) {
        width: 220px;
      }

      @media only screen and (max-width: 1705px) {
        width: 210px;
      }
    }

    &--mail {
      width: 391px;
      margin-right: 0rem;

      @media only screen and (max-width: 1765px) {
        width: 355px;
      }
    }

    &--user-since {
      width: 278px;
      margin-right: 0rem;

      @media only screen and (max-width: 1850px) {
        width: 200px;
      }
    }

    &--subscription {
      width: 175px;
      margin-right: 0rem;

      @media only screen and (max-width: 1850px) {
        width: 167px;
      }

      @media only screen and (max-width: 1820px) {
        width: 145px;
      }

      &--active {
        color: $color-green;
      }

      &--non-active {
        color: $color-red;
      }
    }

    &--edit {
      width: 47px;
      text-align: center;

      &--icon {
        width: 2.5rem;

        &:hover path {
          fill: $color-green;
        }
      }
    }

    &--delete {
      width: 47px;
      text-align: center;

      &:hover path {
        fill: $color-red;
      }

      &--icon {
        width: 2.5rem;
      }
    }
  }
}

/*-----------------------------------------------pagination ---------------------------------------*/

.c-pagination {
  margin-left: 30vw;
  margin-right: auto;

  @media only screen and (max-width: 1860px) {
    margin-left: 9vw;
    margin-right: auto;
  }

  @include media-breakpoint-down(xl) {
    margin-left: 11vw;
    margin-right: auto;
  }

  @include media-breakpoint-down(lg) {
    margin-left: 12vw;
    margin-right: auto;
  }

  @include media-breakpoint-down(md) {
    margin-left: 15vw;
    margin-right: auto;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  &__button {
    color: $color-white;
    width: 40px;
    height: 40px;
    border: 1px solid #2c9cff;
    border-radius: 5px;
    vertical-align: middle;
    padding-top: 5px;
    margin-right: 10px;

    &:hover {
      background-color: $color-white;
      color: #2c9cff;
    }

    &--text {
      height: 100%;
      padding: auto;
    }
  }

  &__arrow--left {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    padding-top: 3px;

    &:hover svg {
      color: $color-white;
    }
  }

  &__arrow--right {
    width: 40px;
    height: 40px;
    padding-top: 3px;
  }
}
