* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: $font-family, sans-serif;
  font-weight: $font-weight;
  $color: $color-white;

  background: linear-gradient(#060124, #253b98);
  min-height: 100vh;

  display: flex;
}
