//Colors
$color-white: #ffffff;
$color-black: #000000;

$color-green: #07CB21;
$color-red: #D62D2D;

$color-darkblue: #151758;
$color-lightblue: #0090FF;


//Font
$font-family: "Gadugi";
$font-weight-bold: 700;

$btn-font-family: arial ;
$btn-padding-y:0.7rem;
$btn-padding-x:1.5rem;
$btn-font-size: 1.3rem;
$btn-border-radius: 7px;
$primary: $color-darkblue;


$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1688px,
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1488px,
) !default;